<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .fontBlue {
            color: blue
        }

        * {
            padding: 0;
            margin: 0;
        }

        .title {
            background: #72cb75;
            color: #fff;
            text-align: center;
        }

        #app {
            padding: 60px;
        }
    </style>
</head>
<body>
<h1 class="title">vue-core test</h1>
<div id="app">
    <div>
        v-show=><b v-show="isShow">v-show is show</b>
    </div>
    v-if嵌套v-for:
    <div v-if="isShow">
        <p v-for="i in arr">{{i}} <b>{{k.o}}</b>
        </p></div>
    <button @click="toggle">show if control</button>

    <div>v-bind=><b v-bind="msg"><p>ss</p></b></div>
    v-model=>{{msg}}
    <input type="text" v-model="msg" v-focus="1+5">
    <p>
        {{s}}
        <button @dblclick="reverse">dblclick reverse</button>
        <br>
        <b>==> val: {{ ss.val}} %</b>
    </p>
    <button @click="add">add</button>
    <button @click="reset">reset</button>

    <div>arr's Count: {{sss[0][0]}}</div>
    <button @click="arrAdd">arrAdd</button>
    <button @click="arrReset">arrReset</button>

    <p v-for="v in arr">{{v}}</p>
    <button @click="arrPush">arr push</button>
    <button @click="arrVforRest">arr reset</button>

    <div :style="{color,backgroundColor:bgColor}">color</div>
    <button @click="changeBgColor">changeBgColor</button>

    <div :class="{fontBlue:isBlue}" v-for="v in arr" :attr1="v">class{{v}}</div>
    <button @click="classControl">classControl</button>
</div>
<script type="module">
    import {Vue} from './vue-core.js'

    new Vue({
        el: '#app',
        data() {
            return {
                k: {o: 7},
                isShow: true,
                isBlue: '',
                bgColor: '#828282',
                color: 'red',
                msg: 'hi',
                s: 'andy',
                ss: {val: 0},
                sss: [[0]],
                arr: Object.keys(new Array(3).fill(null))
            }
        },
        methods: {
            toggle() {
                this.isShow = !this.isShow
            },
            classControl() {
                this.isBlue = !this.isBlue
            },
            changeBgColor() {
                if (this.bgColor == '#828282') {
                    this.bgColor = '#fff'
                } else {
                    this.bgColor = '#828282'
                }
            },
            arrPush() {
                this.arr.push(this.arr.length)
            },
            arrVforRest() {
                this.arr = [0, 1, 2]
                console.log(this, this.arr)
            },
            reset() {
                this.ss = {val: 0}
            },
            reverse() {
                this.s = this.s.split('').reverse().join('')
            },
            add(el) {
                console.log(el)
                this.ss.val++
            },
            arrAdd() {
                console.log(this)
                this.sss[0][0]++
            },
            arrReset() {
                this.sss[0] = [0]
            },
        },
        directives: {
            focus: {
                // 仅实现bind
                bind(el, binding) {
                    console.log(el, binding);
                    el.focus()
                }
            }
        },
    })
</script>
</body>
</html>
